.Rproj.user
.Rhistory
.RData
.Ruserdata
hmsc/abundance_models/ABU_C.RData
hmsc/abundance_models/ABU_N.RData
hmsc/abundance_models/ABU_S.RData
hmsc/abundance_models/ABU_SC.RData
hmsc/pa_models/PA_C.RData
hmsc/pa_models/PA_N.RData
hmsc/pa_models/PA_S.RData
hmsc/pa_models/PA_SC.RData
